:root {
  --primary-color: #040e26;
  --secondary-color: #f2cd1a;
}

body {
  text-align: center;
  margin: 0% auto;
  padding: 0%;
  background-color: #f5f5f5;
  font-family: "Poppins", Arial, sans-serif;
}

.bar {
  background-color: var(--primary-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.outer-container {
  width: 1000px;
  margin: 0 auto; /* Centering the container */
  padding: 0 20px; /* Optional padding inside the container */
}

.bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-info {
  color: #f5f5f5;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.header-info div {
  margin-bottom: 10px; /* Space between email and phone */
}

header {
  height: 400px;
  background-color: #ffffff;
}
.logo {
  max-width: 400px;
}

.background-wrapper {
  background-color: #ffffff;
}

.header-wrapper {
  height: 100px;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

/* have to add media query for h1 < try 600px */
h1 {
  color: #000000;
  font-size: 55px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}

nav {
  background-color: var(--primary-color);
}

.wrapper {
  height: 100%;
  max-width: 1000px;
  margin: 0% auto;
}

nav ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  display: inline-block;

  /*float: left;*/
}

nav a {
  text-decoration: none;
  width: 100px;
  display: block;
  padding: 20px 10px;
  color: #ffffff;
}

nav a:hover {
  background-color: var(--secondary-color);
  transition: 0.6s;
  text-decoration: none;
  color: var(--primary-color);
}

main {
  max-width: 1000px;
  margin: 0% auto;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.welcome {
  text-align: left;
  margin-bottom: -10px;
}

.welcome-info {
  margin: 30px;
}

.welcome-info img {
  border-radius: 8px;
}

.bio {
  font-size: 22px;
}

.carousel-wrapper {
  margin: 0% auto;
  margin-top: 15px;
  background-color: rgb(4, 14, 38);
  max-height: 500px;
  width: 100%;
  border-radius: 6px;
  text-align: center;
  position: relative;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio 16:9 */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  max-width: 90%;
  max-height: 500px;
  border-radius: 4px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(4, 14, 38, 0.5); /* Grey color with 0.7 opacity */
}

.overlay-text {
  color: white;
  font-size: 36px;
  text-align: left;
  position: absolute;
  top: 75%;
  left: 42%;
  transform: translate(-50%, -50%);
}
/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--secondary-color);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-right: 5%;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

h2 {
  padding: 30px;
  text-align: center;
  color: var(--secondary-color);
}

.bio {
  text-align: left;
}

.box-container {
  margin: 0 auto;
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box {
  background-color: var(--secondary-color);
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: x-large;
  text-align: center;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.box:hover {
  cursor: pointer;
  color: var(--primary-color);
}
.box i {
  margin-top: 10px;
}

footer {
  text-align: center;
  background-color: var(--primary-color);
  color: #f5f5f5;
}

footer div {
  padding: 8px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 35px; /* Adjust font size for smaller screens */
    text-align: center; /* Center text horizontally */
    line-height: 100px; /* Set line height equal to the height of the container for vertical centering */
    margin: 0; /* Remove default margin */
  }

  .box-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .box {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
